<div class="auth-page cadastro-page">

    <div class="auth-card cadastro-card">

        <h1>Square Planner</h1>

        <h2>Criar conta</h2>

        <p class="subtitulo">
            Crie sua conta para acessar o planner
        </p>


        <div class="campo">

            <label>
                Nome
            </label>

            <input
                type="text"
                placeholder="Digite seu nome"
                [(ngModel)]="nome"
            >

        </div>


        <div class="campo">

            <label>
                Email
            </label>

            <input
                type="email"
                placeholder="Digite seu email"
                [(ngModel)]="email"
            >

        </div>


        <div class="campo">

            <label>
                Senha
            </label>

            <input
                type="password"
                placeholder="Digite sua senha"
                [(ngModel)]="senha"
            >

        </div>


        <div class="campo">

            <label>
                Confirmar senha
            </label>

            <input
                type="password"
                placeholder="Digite sua senha novamente"
                [(ngModel)]="confirmarSenha"
            >

        </div>


        <div class="campo">

    <label>
        Ano escolar
    </label>

    <select [(ngModel)]="anoSelecionado">
        <option [ngValue]="null">
            Selecione seu ano
        </option>

       <option *ngFor="let ano of anosEscolares" [ngValue]="ano.id">
            {{ ano.nome }}
        </option>
    </select>

</div>


<div class="campo">

    <label>
        Turma
    </label>

    <select
        [(ngModel)]="turmaSelecionada"
        [disabled]="anoSelecionado === null"
    >
        <option [ngValue]="null">
            Selecione sua turma
        </option>

        <option
            *ngFor="let turma of turmasFiltradas"
            [ngValue]="turma.id"
        >
            {{ turma.nome }}
        </option>
    </select>

</div>


        @if (mensagemErro) {

            <p class="mensagem erro">
                {{ mensagemErro }}
            </p>

        }


        @if (mensagemSucesso) {

            <p class="mensagem sucesso">
                {{ mensagemSucesso }}
            </p>

        }


        <button
            class="btn btn-primary btn-block"
            (click)="cadastrar()"
            [disabled]="carregando"
        >
        @if (carregando) {
            <span class="spinner"></span>
            Criando conta...
        } @else {
            Criar conta
        }
        </button>

        <div #googleButton class="google-button"></div>


        <button
            class="btn btn-secondary btn-block"
            (click)="voltarParaLogin()"
        >
            Já tenho uma conta
        </button>

    </div>

</div>
