:host {
    display: block;
    min-height: 100vh;
}

.titulo-tarefas {
    gap: 10px;
}

.barra {
    margin-bottom: 20px;
}

.lista-atividades {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.atividades-form {
    margin-top: 25px;
}

.atividades-form h3 {
    margin-bottom: 15px;
}

.atividade-input .btn {
    flex-shrink: 0;
}

@media (max-width: 500px) {
    .atividade-input {
        flex-direction: column;
    }
}
