:host {
    display: block;
    min-height: 100vh;
}

.titulo-provas {
    gap: 10px;
}

.barra {
    margin-bottom: 20px;
}

.lista-conteudos {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.conteudos-form {
    margin-top: 25px;
}

.conteudos-form h3 {
    margin-bottom: 15px;
}

.conteudo-input .btn {
    flex-shrink: 0;
}

@media (max-width: 500px) {
    .conteudo-input {
        flex-direction: column;
    }
}
